<div class="container my-5">
  <div class="p-3">
    <h2>My Bookings </h2>
  </div>
  <div class="cards">
    <% @bookings.each do | booking| %>
      <div class="booking-card rounded-3">
        <h3 class="py-2"><%= booking.mascot.name %></h3>
        <div class="card-product m-2">
          <%= booking.mascot.photo.attached? ? cl_image_tag(booking.mascot.photo.key, class: 'rounded-3') : image_tag('https://mondomascots.com/wp-content/uploads/2023/01/image1-1.jpeg', class: 'rounded-3') %>
          <div class="card-product-infos">
            <p><strong><%= booking.mascot.location %></strong></p>
            <p> ¥<%= booking.mascot.price * booking.duration %></p>
            <p><em>per day</em></p>
          </div>
          <div class="p-4">
            <p><%= booking.date.strftime("%b %e, %l:%M %p") %></p>
            <% if booking.pending?  %>
              <p class="btn btn-warning rounded-5"><%= booking.status %></p>
            <% elsif booking.accepted? %>
              <p class="btn btn-success rounded-5"><%= booking.status %></p>
            <% elsif booking.declined? %>
              <p class="btn btn-danger rounded-5"><%= booking.status %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <hr>
  <h3> Past bookings</h3>
  <div class ="booking-card-grid">
    <% @past_bookings.each do |booking| %>
      <div class="card-product">
        <%= booking.mascot.photo.attached? ? cl_image_tag(booking.mascot.photo.key, class: 'rounded-3') : image_tag('https://mondomascots.com/wp-content/uploads/2023/01/image1-1.jpeg', class: 'rounded-3') %>
        <div class="card-product-infos">
          <h2><%= booking.date.strftime("%b %e, %l:%M %p")%></h2>
          <p><%= booking.mascot.price %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
