<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dumhjhc95/image/upload/v1676967602/TureppoN_tg1b8c.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= form_with url: mascots_path, method: :get, class: "d-flex w-25" do %>
      <div class="input-group flex-nowrap">
        <span class="input-group-text bg-light rounded-3" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i> </span>
        <%= text_field_tag :query,
    params[:query],
    class: "form-control border-start-0 bg-light",
    placeholder: "Find a mascot"
      %>
      </div>
      <%#= submit_tag "Search", class: "btn btn-ghost-s" %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'Our Mascots', mascots_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://mondomascots.com/wp-content/uploads/2023/01/image2-1.jpeg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My bookings (as mascot enjoyer)", bookings_path, class: "dropdown-item" %>
              <%= link_to "My bookings (as mascot owner )", owner_bookings_path, class: "dropdown-item" %>
              <%= link_to 'Add a mascot', new_mascot_path, class: 'dropdown-item'  %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
