<div class="main-container">
  <div class="cards p-4">
    <% @mascots.each do |mascot| %>
      <%= link_to mascot_path(mascot), class: 'text-light text-decoration-none' do  %>
        <div class="card-trip rounded-4">
          <%= image_tag mascot.photo.attached? ? cl_image_path(mascot.photo.key) : 'https://mondomascots.com/wp-content/uploads/2023/01/image1-1.jpeg', class: 'rounded-3' %>
          <h2 class="text-center pt-3"><%= mascot.name %></h2>
          <div class="card-trip-infos">
            <div>
              <p><%= mascot.location %></p>
            </div>
            <p class="opacity-50">From ¥<%= mascot.price %>~</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="map-index">
    <div style="width:40vw; height:100vh; "
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
<div></div>
