<div class="container mt-5" data-controller="total-price">
  <div class="row">
    <div class="col-6">
      <%= image_tag @mascot.photo, class:'w-100' %>
    </div>
    <div class="col-6">
      <h1><%= @mascot.name %></h1>
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="fs-2 p-2 bd-highlight">¥<span data-total-price-target="price"><%= @mascot.price %></span>~</div>
        <div class="fs-2 p-2 bd-highlight"><i class="fa-solid fa-map-location-dot"></i>  Meet up location</div>
      </div>
      <div class="card-product-infos">
        <p><%= @mascot.description %></p>
      </div>
      <br>
      <br>
      <%= render 'bookings/form' %>
      
    </div>
  </div>
</div>
