<div class="container my-4">
  <div class="row">
    <div class="col-6">
      <%= image_tag @mascot.photo, class:'w-100' %>
    </div>
    <div class="col-6">
      <div class="card-product-infos">
        <h2><%= @mascot.name %></h2>
        <p><%= @mascot.description %></p>
      </div>
      <%= render 'bookings/form' %>
    </div>
  </div>
  <div class="container">
    <% @mascot.bookings.each do |booking| %>
      <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><strong>Booked for </strong> 🎉 <%= booking.date %></span>
        <a data-bs-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
  </div>
  <%= link_to 'Home', mascots_path  %>
</div>
