<div class="container my-4">
  <div class="card-product">
    <%= image_tag @mascot.photo %>
    <div class="card-trip-infos my-4">
      <h2><%= @mascot.name %></h2>
      <p><%= @mascot.description %></p>
    </div>
  </div>
  <div class="container">
    <% @mascot.bookings.each do |booking| %>
      <h2>Booked for <%= booking.date %></h2>
    <% end %>
  </div>
  <%= render 'bookings/form' %>
  <div class="card-product my-5">
    <%= link_to 'See the other mascots', mascots_path  %>
  </div>
</div>
